body
{
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}

nav
{
    background-color: #4d4953;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3, input[type="submit"]
{
    font-family: "Beiruti", sans-serif;
    color: #2e2d30;
}

form
{
    font-family: "Beiruti", sans-serif;
    font-size: 1.5rem;
}

h1
{
    margin: 0;
    font-size: 4rem;
}

h2
{
    font-size: 2rem;
}

h3
{
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
}

.splash img
{
    margin: 2rem;
    height: 20rem;
    width: auto;
    border-radius: 1rem;
    border-style:dotted ;
    border-color:  #2e2d30;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.splash > p
{
    font-family: "Maname", sans-serif, Arial, Helvetica;
    color: #2e2d30;
    font-size: 1.5rem;
}

.splash p:first-of-type
{
    font-style: italic;
}

.splash
{
    background-color: #e4dee6;
    padding: 1rem;
    text-align: center;
}

.pnav, .contact, footer p
{
    color: white;
    margin: 0rem 0rem;
    font-size: 1.2rem;
    font-family: "Playwrite AU NSW";
    font-weight: 400;
    font-weight: 2rem;
}

footer p
{
    margin: 0rem 1rem;
}

.contact
{
    text-decoration: none;
}

.contact:hover
{
    color: rgb(226, 176, 211);
    text-decoration: underline;
    text-decoration-color: rgb(226, 176, 211);
    cursor: pointer;
}

footer
{
    background-color: #8a878d;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1rem;
}

hr
{
    margin: auto;
    border-color: #4d4953;
    border-bottom: 1px dashed ;
}


.edu, .honors, .skills, .leadership, .projects
{
    margin: 2rem 4rem;
    border-bottom: solid;
    box-shadow: 0 0.4rem 0.2rem -0.2rem rgba(0, 0, 0, 0.2);
}

.honors dl, .leadership dl
{
    display: grid;
    gap: 4px; 
    grid-template-columns: 1fr auto;
}

.honors dd
{
    font-style: italic;
}

.skills ul 
{
    list-style-type: circle;
}

.leadership a 
{
    text-decoration: none;
    color:#7a7676;
}

.leadership a:hover
{
    text-decoration: underline;
    text-decoration-color: #aa46aa;
    color: #aa46aa;
}

.three-col
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 15rem;
    column-gap: 4rem;
}

.card
{
    padding: 2rem 1rem;
    box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    border: 0.1rem solid;
    text-align: center;
}

.card:hover
{
    transform: scale(1.05);
    box-shadow: 0 2rem 4rem 0 rgba(0,0,0,0.2);
}

.card img
{
    margin:  0;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.card ul
{
    padding: 0 0;
    list-style-type: none;
    line-height: 1.3rem;
    color: #2e2d30;
}

.card li 
{
    margin: 1rem 0rem;
}

.contacth1
{
    margin: auto;
    text-align: center;
}

.address
{
    font-style: "Maname", sans-serif;
    font-style: italic;
    text-align: center;
    color:#777777
}

.one-col 
{
    display: flex;
    margin: 5rem auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    max-width: 30%;
    padding: 1rem;
}


input, textarea
{
    box-sizing: border-box;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.3s;
}

input:hover, textarea:hover
{
    border-color: #aa46aa;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input[type="submit"]
{
    background-color: #8a878d;
    color: white;
    font-size: 1.2rem;
    padding: 8px 0;
}

input[type="submit"]:hover
{
    background-color: #695a6e;
    cursor: pointer;
    transition: 0.3s;
}

